:root {
    --c-text: #222222;
    --c-inverse: #f3f9fc;
    --c-secondary: #444444;
    --c-aside: #3e7091;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.4em;
}

h2,
h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
    margin-bottom: 1em;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
    color: var(--c-secondary);
}

p {
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: var(--c-inverse);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--c-text);
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 20px;
}

main p {
    text-align: justify;
    margin: 0 0 10px;
}

main ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 5px;
}

main li {
    background: var(--c-aside);
    color: var(--c-inverse);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 10px 5px 0;
    font-size: 12px;
}

aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: var(--c-aside);
    padding: 20px;
    color: var(--c-inverse);
}

aside img {
    border-radius: 50%;
    margin: 0 20px 20px;
    max-width: 220px;
    align-self: center;
}

aside small {
    color: var(--c-inverse);
}

section {
    margin: 0 0 30px;
}

hr {
    border: none;
    margin: 0 0 30px;
}

footer {
    padding: 20px 0;
}

small {
    font-style: italic;
    margin-top: auto;
    font-size: 14px;
    line-height: 1.2;
}

@media print, (min-width: 800px) {
    .content {
        flex-direction: row;
    }

    aside {
        width: 30%;
    }
}
